html[data-direction="ltr"]
body[data-direction="ltr"]
  font-family 'Roboto', sans-serif
  @font-face
    font-family Roboto
    src url(./../fonts/roboto/Roboto-Light.ttf) format('truetype')
    font-weight normal
  @font-face
    font-family Roboto
    src url(./../fonts/roboto/Roboto-Bold.ttf) format('truetype')
    font-weight bold
  .left
    float left
  .right
    float right
  .left-0
    left 0
  .right-0
    right 0
  .drawer
    .ant-menu-item
    .ant-menu-submenu-title
      .mdi
        margin-right 8px
  .ant-layout-header
    .logo
      //margin 16px 28px 16px 0
      float left
  .side-nav
    right 0
    &.side-nav-collapsed
      right -256px
    .drawer-menu
      left 0
  .nav
    ul
      &.ant-menu
        float right
    .hamburger-menu
      right -32px
  .ant-menu-submenu-vertical > .ant-menu
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline
    left 100%
    margin-left 4px
    padding-left 0 !important
  .ant-menu-submenu-vertical > .ant-menu > .ant-menu-item
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline > .ant-menu-item
    &:first-child
      border-radius 4px 4px 0 0
  .ant-menu-submenu-vertical > .ant-menu
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline
    .ant-menu-item
      border-right 0
      margin-left 0
      left 0
  .ant-menu-submenu-vertical > .ant-menu li
  .ant-menu-submenu-vertical > .ant-menu .ant-menu-item
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline li
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline .ant-menu-item
    padding 0 16px !important
  .ant-menu-submenu-vertical > .ant-menu
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline
    .ant-menu-submenu-title
      padding 0 !important
  .listview
    .icon
      margin-right 8px
    .avatar
      margin-right 8px

  .ant-menu-submenu-vertical > .ant-menu
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline
    left 100%
    margin-left 4px
    padding-left 0 !important

  .ant-menu-submenu-vertical > .ant-menu > .ant-menu-item
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline > .ant-menu-item
    &:first-child
      border-radius 4px 4px 0 0

  .ant-menu-submenu-vertical > .ant-menu
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline
    .ant-menu-item
      border-right 0
      margin-left 0
      left 0
  .ant-menu-submenu-vertical > .ant-menu li
  .ant-menu-submenu-vertical > .ant-menu .ant-menu-item
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline li
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline .ant-menu-item
    padding 0 16px !important
  .ant-menu-submenu-vertical > .ant-menu
  .ant-layout-sider-collapsed .drawer-menu .ant-menu-inline
    .ant-menu-submenu-title
      padding 0 !important

  .ant-input-affix-wrapper
    .ant-input
      &:not(:first-child)
        padding-left 28px

  [class*='ant-col-']
    div
      &.ant-form-item
        .ant-cascader-picker-clear
          right 24px
        .has-feedback
          .ant-input
            padding-right 48px
          .ant-select .ant-select-arrow
          .ant-cascader-picker .ant-cascader-picker-arrow
            right 28px
          .ant-cascader-picker-clear
            right 44px
  .redux-password
    .ant-form-item-control
      &.has-feedback
        .ant-input-suffix
          right 31px
  .border-end {
    border-right: 1px solid #e4e4e4;
  }
  .form-item-input
    .has-feedback:after
      right 50px
  //.form-item-input
  //  .ant-input
  //    padding-right 40px !important
