@import "../css/bporgeditor.latest.css"
@import "../css/jquery-ui-1.10.2.custom.css"
@import "../css/primitives.latest.css"

li
  &.orgdiagrambutton
    width 24px !important
    height 24px !important
