<!DOCTYPE html>
<html>
<head>
    <title>print table print view</title>
    <meta charset="utf-8"/>
    <style type="text/css">
        @page {
            size: landscape;
            margin: 0px;
        }

        @font-face {
            font-family: "samim";
            src: url("../../../../../../public/src/fonts/Samim-FD.ttf");
        }

        @media print{
            body {
                -webkit-print-color-adjust: exact;
                font-family: samim, serif;
            }
            .cl{
                -webkit-print-color-adjust: exact;
                background: #000;
            }
        }

        body {
            text-align: right;
            font-family: samim, serif;
            direction: rtl;
            font-size: 10px;
        }

        .float-right {
            float: right;
        }

        .text-left {
            text-align: left;
        }
        .print-page:not(:first-child){
            page-break-before: always;
        }
        .print-head,
        .print-content{
            border: 1px solid black;
            border-bottom: none;
            padding: 5px 3%;
        }
        .print-footer{
            border-top: 1px solid black;
            padding: 5px 3%;
            text-align: center;
            color: #666666;
        }

        .print-head > div {
            width: 33.333%;
        }

        .center {
            text-align: center;
        }

        .bold {
            font-weight: bold;
        }

        .clear {
            clear: both;
        }

        .sp-large {
            font-size: 1.5em;
            padding: 3px 15px;
        }
        .print-page:after{
            clear: both;
            display: inline-block;
        }
        .print-page h3 {
            margin: 0px auto;
            text-align: center;
            padding: 0px;
        }
    </style>
</head>
<body>
<div>
    <div class="print-page">
        <h3>هدر</h3>
        <div class="print-head">
            <div class="float-right">
                <div>123</div>
            </div>
            <div class="float-right center">
                <h2>گزارش کارکرد به تفکیک روز</h2>
            </div>
            <div class="float-right text-left">
                <div>
                    <span>تاریخ گزارش گیری</span>:
                    <span>۱۳۹۶/۰۱/۰۸</span>
                </div>
                <div>
                    <span>صفحه</span>:
                    <span>1</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="print-content">
            <table class="print-table">
                <thead>
                <tr>
                    <th>تاریخ</th>
                    <th>روز هفته</th>
                    <th>ورود</th>
                    <th>خروج</th>
                    <th>ورود</th>
                    <th>خروج</th>
                    <th>ورود</th>
                    <th>خروج</th>
                    <th>طول شیفت</th>
                    <th>اضافه کار اول</th>
                    <th>اضافه کار آخر</th>
                    <th>اضافه کار خارج از</th>
                    <th>تاخیر</th>
                    <th>تاجیل</th>
                    <th>غیبت روزانه</th>
                    <th>غیبت در ساعت کاری</th>
                    <th>فرجه</th>
                    <th>شناوری</th>
                    <th>مرخصی ساعتی</th>
                    <th>ماموریت ساعتی</th>
                    <th>اضافه کاری در مرخصی</th>
                    <th>کارکرد</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-left bold sp-large">جمع</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="print-footer">
            jsh1400
        </div>
    </div>
    <div class="print-page">
        <h3>هدر</h3>
        <div class="print-head">
            <div class="float-right">
                <div>123</div>
            </div>
            <div class="float-right center">
                <h2>گزارش کارکرد به تفکیک روز</h2>
            </div>
            <div class="float-right text-left">
                <div>
                    <span>تاریخ گزارش گیری</span>:
                    <span>۱۳۹۶/۰۱/۰۸</span>
                </div>
                <div>
                    <span>صفحه</span>:
                    <span>1</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="print-content">
            <table class="print-table">
                <thead>
                <tr>
                    <th>تاریخ</th>
                    <th>روز هفته</th>
                    <th>ورود</th>
                    <th>خروج</th>
                    <th>ورود</th>
                    <th>خروج</th>
                    <th>ورود</th>
                    <th>خروج</th>
                    <th>طول شیفت</th>
                    <th>اضافه کار اول</th>
                    <th>اضافه کار آخر</th>
                    <th>اضافه کار خارج از</th>
                    <th>تاخیر</th>
                    <th>تاجیل</th>
                    <th>غیبت روزانه</th>
                    <th>غیبت در ساعت کاری</th>
                    <th>فرجه</th>
                    <th>شناوری</th>
                    <th>مرخصی ساعتی</th>
                    <th>ماموریت ساعتی</th>
                    <th>اضافه کاری در مرخصی</th>
                    <th>کارکرد</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>۱۲/۰۱</td>
                    <td>یک شنبه</td>
                    <td>08:15</td>
                    <td>18:27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>09:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-left bold sp-large">جمع</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="print-footer">
            jsh1400
        </div>
    </div>
</div>
</body>
</html>